.user__card {
  width: 100%;
  background-color: #1e2a47;
  border-radius: 10px;
  padding: 2rem 1.5rem;
}

.user__card-header {
  display: flex;
  line-height: 1.7;
}

.user__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 1rem;
}

.user__name {
  font-size: 1rem;
}

.user__handle {
  color: #0079ff;
}

.user__handle,
.user__joined {
  font-size: 0.8125rem;
  font-weight: 300;
}

.user__bio {
  margin-top: 1rem;
  font-size: 0.9375rem;
}

.user__stats {
  background-color: #141d2f;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.user__stats-list-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0.3rem;
  flex-wrap: wrap;
  max-width: 7ch;
}

.user__stat-label {
  font-size: 0.6875rem;
}

.user__stat-number {
  font-size: 1rem;
  font-weight: 700;
}

.user__contacts {
  margin-top: 2rem;
  font-size: 0.8125rem;
}

.user__contacts li {
  margin: 1rem 0;
  display: flex;
}

.user__contact-icon {
  margin-right: 1rem;
  color: #fff;
}

.filter-white {
  filter: brightness(0) invert(1);
}

/* filter: brightness(0) saturate(100%) invert(75%) sepia(0%) saturate(4504%) hue-rotate(327deg) brightness(88%) contrast(72%); */
